<h1>Widget Information</h1>
<h2 data-testid="widget-name"><%= @widget.name %></h2>
<h2>
  ID #<%= styled_widget_id(@widget.user_facing_identifier) %>
</h2>

<% if flash[:notice].present? %>
  <aside>
    <%= flash[:notice] %>
  </aside>
<% end %>

<%= widget_rating_component(@widget) %>

<h3>
  Built by <%= @widget.manufacturer.name %>
</h3>
<%= link_to "/manufacturers/#{ @widget.manufacturer_id }" do %>
  View Manufacturer
<% end %>
